body{
	background-color:#222222;
	color:#57585a;
	padding:0px;
	margin:0px;
	width:100%;
	font-family:Arial;
	font-size:10px;
	text-align:center;
}

a:hover {
	text-decoration:underline;
}

a:active {
}

#middWrapp{
	padding:0px;
	margin:0px;
}
#jezicakCell{
	padding-right:5px;
	padding-left:5px;
	margin:2px;
	background-color:#aaaaaa;
	font-weight:bold;
	color: #115511
}
#productCell{
	padding-right:5px;
	padding-left:5px;
	margin:2px;
	color: #FFFFFF
}
#cityCell{
	padding-right:5px;
	padding-left:5px;
	background-color:#000000;
	color: #FFFF44
}
td.productNameCell{
	padding-right:5px;
	padding-left:5px;
	margin:2px;
	color: #FFFFFF
}
#floatingBasket{
	position: fixed; 
	left: 0px; 
	bottom: 30px;
	border: 1px solid red; 
	color:#99EE99; 
	background-color:#111111;
	font-size:16px;
}
#menudiv{
	width:20%;
	padding:0px;
	margin:5px;
	float:left;
	text-align:left;
	border: 1px solid red; 
	color:#EEEEEE; 
	background-color:#111111;
}
#contdiv{
	width:75%;
	padding:0px;
	margin:5px;
	background-color:#ffffff;
	float:left;
	border:1px solid #57585a;
	color:#EEEEEE; 
	background-color:#111111;
}
#foot{
	padding:0px;
	margin:0px;
	height:20px;
	background-color:#ebebeb;
	border-top:1px solid #57585a;
	text-align:left;
	clear:both;
}