body{
	background-color:#222222;
	color:#57585a;
	padding:0px;
	margin:0px;
	width:100%;
	font-family:Arial;
	font-size:14px;
}

a:hover {
	text-decoration:underline;
}

a:active {
}
#totalCell{
	color:#99FF99;
}
#middWrapp{
	padding:0px;
	margin:0px;
	min-width:1100px;
}
#jezicakSmallCell{
	padding-right:5px;
	padding-left:5px;
	margin:2px;
	background-color:#aaaaaa;
	font-family:Arial;
	font-size:10px;
	color: #222222;
}
#productCell{
	padding-right:5px;
	padding-left:5px;
	margin:2px;
	color: #FFFFFF
}
#cityCell{
	padding-right:5px;
	padding-left:5px;
	background-color:#000000;
	color: #FFFF44
}

#jezicakCell{
	padding-right:5px;
	padding-left:5px;
	margin:2px;
	background-color:#aaaaaa;
	font-weight:bold;
	color: #115511
}
.productBasketCellText
{
	margin:-1;
	padding-left: 3px;
	padding-right: 3px;
	color: #EE0000;
	font-size: 12px;
}

.productBasketCellNumber
{
	margin:-1;
	padding-left: 3px;
	padding-right: 3px;
	color: #EE8888;
	font-size: 12px;
}

.transparent09
{
   filter:alpha(opacity=90); 
   -moz-opacity: 0.8; 
   opacity: 0.9; 
}

td.productNameCell{
	padding-right:5px;
	padding-left:5px;
	margin:2px;
	color: #FFFFFF
}
#floatingBasket{
	position: fixed; 
	left: 0px; 
	bottom: 30px;
	border: 1px solid red; 
	color:#99EE99; 
	background-color:#111111;
	font-size:16px;
}
#floatingBasketMinimized{
	position: fixed; 
	left: 0px; 
	bottom: 30px;
	border: 1px solid red; 
	color:#99EE99; 
	background-color:#111111;
	font-size:16px;
	display:none; 
}
#infodiv{
}
#printinfodiv{
	display:none;
}
#menudiv{
	width:250px;
	padding:0px;
	margin:5px;
	float:left;
	text-align:left;
	border: 1px solid red; 
	color:#EEEEEE; 
	background-color:#111111;
}
#contdiv{
	padding:0px;
	margin:5px;
	background-color:#ffffff;
	float:left;
	border:1px solid #57585a;
	color:#EEEEEE; 
	background-color:#111111;
}
#foot{
	padding:0px;
	margin:0px;
	height:20px;
	background-color:#ebebeb;
	border-top:1px solid #57585a;
	text-align:left;
	clear:both;
}